<div class="entry_parent" readonly></div>
<div class="desc" style="padding-left: {{indent}}.2em">
	{{#if (eq this.type "spell_container")}}
	{{#if this.data.open}}
	<i class="fas fa-chevron-down toggle_open" data-id={{this._id}}></i>
	{{else}}
	<i class="fas fa-chevron-right toggle_open" data-id={{this._id}}></i>
	{{/if}}
	{{/if}}
	{{this.name}}{{#if this.data.tech_level}}/TL{{this.data.tech_level}}{{/if}}
	{{>gcs_item_notes}}
</div>
<div class="resist">{{this.data.resist}}</div>
<div class="class">{{this.data.spell_class}}</div>
<div class="casting_cost">{{this.data.casting_cost}}</div>
<div class="maintenance_cost">{{this.data.maintenance_cost}}</div>
<div class="casting_time">{{this.data.casting_time}}</div>
<div class="duration">{{this.data.duration}}</div>
<div class="level">{{this.data.calc.level}}</div>
<div class="rsl">{{this.data.calc.rsl}}</div>
<div class="points">{{this.data.points}}</div>
<div class="reference">{{this.data.reference}}</div>
{{#if this.data.open}}
	{{#each this.children}}
		{{>gcs_spell indent=(sum indent 1)}}
	{{/each}}
{{/if}}