<div id="description">
	<div class="header">{{localize "gcsga.sheet.description"}}</div>
	<div class="fieldblock">
		<div class="label align_right align_right">{{localize "gcsga.sheet.gender"}}</div>
		<div class="field">
			<input
				name="data.profile.gender"
				class="input"
				type="text"
				value="{{data.profile.gender}}"
				{{input_lock editing}}
			/>
		</div>
		<div class="label align_right align_right">{{localize "gcsga.sheet.age"}}</div>
		<div class="field">
			<input
				name="data.profile.age"
				class="input"
				type="text"
				value="{{data.profile.age}}"
				{{input_lock editing}}
			/>
		</div>
		<div class="label align_right align_right">{{localize "gcsga.sheet.birthday"}}</div>
		<div class="field">
			<input
				name="data.profile.birthday"
				class="input"
				type="text"
				value="{{data.profile.birthday}}"
				{{input_lock editing}}
			/>
		</div>
		<div class="label align_right align_right">{{localize "gcsga.sheet.religion"}}</div>
		<div class="field">
			<input
				name="data.profile.religion"
				class="input"
				type="text"
				value="{{data.profile.religion}}"
				{{input_lock editing}}
			/>
		</div>
	</div>
	<div class="fieldblock">
		<div class="label align_right align_right">{{localize "gcsga.sheet.height"}}</div>
		<div class="field">
			<input
				name="data.profile.height"
				class="input"
				type="text"
				value="{{data.profile.height}}"
				{{input_lock editing}}
			/>
		</div>
		<div class="label align_right align_right">{{localize "gcsga.sheet.weight"}}</div>
		<div class="field">
			<input
				name="data.profile.weight"
				class="input"
				type="text"
				value="{{data.profile.weight}}"
				{{input_lock editing}}
			/>
		</div>
		<div class="label align_right align_right">{{localize "gcsga.sheet.SM"}}</div>
		<div class="field">
			<input
				name="data.profile.SM"
				class="input"
				type="number"
				value="{{signed (data.profile.SM)}}"
				{{input_lock editing}}
			/>
		</div>
		<div class="label align_right align_right">{{localize "gcsga.sheet.tech_level"}}</div>
		<div class="field">
			<input
				name="data.profile.tech_level"
				class="input"
				type="text"
				value="{{data.profile.tech_level}}"
				{{input_lock editing}}
			/>
		</div>
	</div>
	<div class="fieldblock">
		<div class="label align_right">{{localize "gcsga.sheet.hair"}}</div>
		<div class="field">
			<input
				name="data.profile.hair"
				class="input"
				type="text"
				value="{{data.profile.hair}}"
				{{input_lock editing}}
			/>
		</div>
		<div class="label align_right">{{localize "gcsga.sheet.eyes"}}</div>
		<div class="field">
			<input
				name="data.profile.eyes"
				class="input"
				type="text"
				value="{{data.profile.eyes}}"
				{{input_lock editing}}
			/>
		</div>
		<div class="label align_right">{{localize "gcsga.sheet.skin"}}</div>
		<div class="field">
			<input
				name="data.profile.skin"
				class="input"
				type="text"
				value="{{data.profile.skin}}"
				{{input_lock editing}}
			/>
		</div>
		<div class="label align_right">{{localize "gcsga.sheet.handedness"}}</div>
		<div class="field">
			<input
				name="data.profile.handedness"
				class="input"
				type="text"
				value="{{data.profile.handedness}}"
				{{input_lock editing}}
			/>
		</div>
	</div>
</div>