<div id="identity">
	<div class="header">{{localize "gcsga.sheet.identity"}}</div>
	<div class="fieldblock">
		<div class="label align_right">{{localize "gcsga.sheet.name"}}</div>
		<div class="field">
			<input
				name="name"
				class="input"
				type="text"
				value="{{actor.name}}"
				{{input_lock editing}}
			/>
		</div>
		<div class="label align_right">{{localize "gcsga.sheet.title"}}</div>
		<div class="field">
			<input
				name="data.profile.title"
				class="input"
				type="text"
				value="{{data.profile.title}}"
				{{input_lock editing}}
			/>
		</div>
		<div class="label align_right">{{localize "gcsga.sheet.organization"}}</div>
		<div class="field">
			<input
				name="data.profile.organization"
				class="input"
				type="text"
				value="{{data.profile.organization}}"
				{{input_lock editing}}
			/>
		</div>
	</div>
</div>