<div id="miscellaneous">
	<div class="header">{{localize "gcsga.sheet.miscellaneous"}}</div>
	<div class="fieldblock">
		<div class="label align_right">{{localize "gcsga.sheet.created_date"}}</div>
		<div class="field grey">{{data.created_date}}</div>
		<div class="label align_right">{{localize "gcsga.sheet.modified_date"}}</div>
		<div class="field grey">{{data.modified_date}}</div>
		<div class="label align_right">{{#if editing}}<i class="edit_lock fas fa-unlock"></i>{{else}}<i class="edit_lock fas fa-lock"></i>{{/if}}	{{localize "gcsga.sheet.player_name"}}</div>
		<div class="field">
			<input
				name="data.profile.player_name"
				class="input"
				type="text"
				value="{{data.profile.player_name}}"
				{{input_lock editing}}
			/>
		</div>
	</div>
</div>