<div class="entry_parent {{selected selected _id}}" readonly></div>
<div class="dropdown">
	{{#if (eq this.type "advantage_container")}}
	{{#if this.data.open}}
	{{>gcs_dropdown_open _id=_id}}
	{{else}}
	{{>gcs_dropdown_closed _id=_id}}
	{{/if}}
	{{/if}}
</div>
<div class="desc item {{selected selected _id}}" draggable="true" data-item-id="{{_id}}" style="padding-left: {{indent}}.2em;">
	{{this.name}}{{#unless (eq this.data.levels "0")}} {{this.data.levels}}{{/unless}}
	{{>gcs_item_notes}}
</div>
<div class="points align_right {{selected selected _id}}">{{this.data.calc.points}}</div>
<div class="reference {{selected selected _id}}">{{this.data.reference}}</div>
{{#if this.data.open}}
	{{#each this.children}}
		{{>gcs_advantage indent=(sum indent 1) selected=../selected}}
	{{/each}}
{{/if}}