<div id="lifting" class="table">
	<div class="header">{{localize "gcsga.sheet.lifting.title"}}</div>
	<div class="lift label align_right">{{lifting.basic_lift}}</div>
	<div class="label">{{localize "gcsga.sheet.lifting.basic_lift"}}</div>
	<div class="lift label align_right">{{lifting.one_handed_lift}}</div>
	<div class="label">{{localize "gcsga.sheet.lifting.one_handed_lift"}}</div>
	<div class="lift label align_right">{{lifting.two_handed_lift}}</div>
	<div class="label">{{localize "gcsga.sheet.lifting.two_handed_lift"}}</div>
	<div class="lift label align_right">{{lifting.shove}}</div>
	<div class="label">{{localize "gcsga.sheet.lifting.shove"}}</div>
	<div class="lift label align_right">{{lifting.running_shove}}</div>
	<div class="label">{{localize "gcsga.sheet.lifting.running_shove"}}</div>
	<div class="lift label align_right">{{lifting.carry_on_back}}</div>
	<div class="label">{{localize "gcsga.sheet.lifting.carry_on_back"}}</div>
	<div class="lift label align_right">{{lifting.shift_slightly}}</div>
	<div class="label">{{localize "gcsga.sheet.lifting.shift_slightly"}}</div>
</div>