<div class="entry_parent" readonly></div>
<div class="desc">
	{{this.name}}
	{{>gcs_item_notes}}
</div>
<div class="usage">{{this.usage}}</div>
<div class="level">{{this.level}}</div>
<div class="accuracy">{{this.accuracy}}</div>
<div class="damage">{{this.damage}}</div>
<div class="range">{{this.range}}</div>
<div class="rate_of_fire">{{this.rate_of_fire}}</div>
<div class="shots">{{this.shots}}</div>
<div class="bulk">{{this.bulk}}</div>
<div class="recoil">{{this.recoil}}</div>
<div class="st">{{this.st}}</div>