<div id="points">
	<div class="header">{{data.points.total}} {{localize "gcsga.sheet.points.title"}}</div>
	<div class="fieldblock">
		<div class="field">
			<input
				name="data.points.unspent"
				class="input"
				type="number"
				value="{{data.points.unspent}}"
				{{input_lock editing}}
			/>
		</div>
		<div class="label">{{localize "gcsga.sheet.points.unspent"}}</div>
		<div class="field noedit">
			<input
				name="data.points.race"
				class="input"
				type="number"
				value="{{data.points.race}}"
				disabled
			/>
		</div>
		<div class="label">{{localize "gcsga.sheet.points.race"}}</div>
		<div class="field noedit">
			<input
				name="data.points.attributes"
				class="input"
				type="number"
				value="{{data.points.attributes}}"
				disabled
			/>
		</div>
		<div class="label">{{localize "gcsga.sheet.points.attributes"}}</div>
		<div class="field noedit">
			<input
				name="data.points.advantages"
				class="input"
				type="number"
				value="{{data.points.advantages}}"
				disabled
			/>
		</div>
		<div class="label">{{localize "gcsga.sheet.points.advantages"}}</div>
		<div class="field noedit">
			<input
				name="data.points.disadvantages"
				class="input"
				type="number"
				value="{{data.points.disadvantages}}"
				disabled
			/>
		</div>
		<div class="label">{{localize "gcsga.sheet.points.disadvantages"}}</div>
		<div class="field noedit">
			<input
				name="data.points.quirks"
				class="input"
				type="number"
				value="{{data.points.quirks}}"
				disabled
			/>
		</div>
		<div class="label">{{localize "gcsga.sheet.points.quirks"}}</div>
		<div class="field noedit">
			<input
				name="data.points.skills"
				class="input"
				type="number"
				value="{{data.points.skills}}"
				disabled
			/>
		</div>
		<div class="label">{{localize "gcsga.sheet.points.skills"}}</div>
		<div class="field noedit">
			<input
				name="data.points.spells"
				class="input"
				type="number"
				value="{{data.points.spells}}"
				disabled
			/>
		</div>
		<div class="label">{{localize "gcsga.sheet.points.spells"}}</div>
	</div>
</div>