<div class="entry_parent" readonly></div>
<div class="desc" style="padding-left: {{indent}}.2em">
	{{#if (eq this.type "skill_container")}}
	{{#if this.data.open}}
	<i class="fas fa-caret-down"></i>
	{{else}}
	<i class="fas fa-caret-right"></i>
	{{/if}}
	{{/if}}
	{{this.name}}{{#if this.data.tech_level}}/TL{{this.data.tech_level}}{{/if}}{{#if this.data.specialization}} ({{this.data.specialization}}){{/if}}
	{{!-- {{>gcs_item_notes}} --}}
</div>
<div class="level">{{this.data.calc.level}}</div>
<div class="rsl">{{this.data.calc.rsl}}</div>
<div class="points">{{this.data.points}}</div>
<div class="reference">{{this.data.reference}}</div>