<div id="primary_attributes">
	<div class="header">{{localize "gcsga.sheet.primary_attributes"}}</div>
	<div class="fieldblock3">
		{{#each primary_attributes}}
			<div class="points">[{{this.points}}]</div>
			{{#if ../editing}}
			<div class="field align_right">
				<input
					name="data.attributes.{{this.id}}.calc.value"
					class="input"
					type="number"
					value="{{this.value}}"
				/>
			</div>
			{{else}}
			<div class="field rollable align_right" data-path="this.value">{{this.value}}</div>
			{{/if}}
			<div class="label">{{#if this.full_name}}{{this.full_name}} ({{this.name}}){{else}}{{this.name}}{{/if}}</div>
		{{/each}}
		<hr>
		<div class="field wide">{{data.calc.thrust}}</div>
		<div class="label">{{localize "gcsga.sheet.basic_thrust"}}</div>
		<div class="field wide">{{data.calc.swing}}</div>
		<div class="label">{{localize "gcsga.sheet.basic_swing"}}</div>
	</div>
</div>