<div class="entry_parent" readonly></div>
<div class="equipped align_center">{{#if this.data.equipped}}<i class="fas fa-check"></i>{{/if}}</div>
<div class="quantity">{{this.data.quantity}}</div>
<div class="desc" style="padding-left: {{indent}}.2em">
	{{#if (eq this.type "equipment_container")}}
	{{#if this.data.open}}
	<i class="fas fa-chevron-down toggle_open" data-id={{this._id}}></i>
	{{else}}
	<i class="fas fa-chevron-right toggle_open" data-id={{this._id}}></i>
	{{/if}}
	{{/if}}
	{{this.name}}
	{{>gcs_item_notes}}
</div>
<div class="uses align_right">{{this.data.uses}}</div>
{{!-- <div class="value">{{this.data.calc.value}}</div>
<div class="weight">{{this.data.calc.weight}}</div> --}}
<div class="value align_right">{{this.data.value}}</div>
<div class="weight align_right">{{this.data.weight}}</div>
<div class="value_total align_right">{{this.data.calc.extended_value}}</div>
<div class="weight_total align_right">{{this.data.calc.extended_weight}}</div>
<div class="reference">{{this.data.reference}}</div>
{{#if this.data.open}}
	{{#each this.children}}
		{{>gcs_equipment indent=(sum indent 1)}}
	{{/each}}
{{/if}}