<div class="message-roll">
	<div class="skill-text">{{{text}}}</div>
	<div class="roll-container">
		<div class="success">{{success}}</div>
		<div class="total">{{total}}</div>
		<div class="margin">{{margin}}</div>
	</div>
	<div class="rolls">{{rolls}}</div>
</div>
