<div id="ranged" class="weapon-list">
	<div class="header usage">{{localize "gcsga.character.ranged.usage"}}</div>
	<div class="header level">{{localize "gcsga.character.ranged.level"}}</div>
	<div class="header accuracy">{{localize "gcsga.character.ranged.accuracy"}}</div>
	<div class="header damage">{{localize "gcsga.character.ranged.damage"}}</div>
	<div class="header range">{{localize "gcsga.character.ranged.range"}}</div>
	<div class="header rate-of-fire">{{localize "gcsga.character.ranged.rate_of_fire"}}</div>
	<div class="header shots">{{localize "gcsga.character.ranged.shots"}}</div>
	<div class="header bulk">{{localize "gcsga.character.ranged.bulk"}}</div>
	<div class="header recoil">{{localize "gcsga.character.ranged.recoil"}}</div>
	<div class="header st">{{localize "gcsga.character.ranged.st"}}</div>
	{{#each rangedWeapons}}
	<div class="usage" data-index="{{this.index}}">
		<div class="name">
			{{this.usage}}
		</div>
		{{>item-notes}}
	</div>
	<div data-item-id="{{this.parent.id}}" data-attack-id="{{this.id}}" data-type="attack" class="level rollable">
		{{this.level}}</div>
	<div data-modifier="{{this.accuracy}}" data-comment="Accuracy" data-type="modifier" class="accuracy rollable">
		{{signed this.accuracy}}</div>
	<div data-item-id="{{this.parent.id}}" data-attack-id="{{this.id}}" data-type="damage" class="damage rollable">
		{{this.damage}}</div>
	<div class="range">{{this.range}}</div>
	<div class="rate-of-fire">{{this.rate_of_fire}}</div>
	<div class="shots">{{this.shots}}</div>
	<div data-modifier="{{this.bulk}}" data-comment="Bulk" data-type="modifier" class="bulk rollable">{{this.bulk}}
	</div>
	<div class="recoil rollable">{{this.recoil}}</div>
	<div class="st">{{this.st}}</div>
	{{/each}}
