<div id="trait-modifiers">
	<div class="header enabled"><i class="gcs-checkmark"></i></div>
	<div class="header desc">{{localize "gcsga.trait.modifier_desc"}}</div>
	<div class="header cost">{{localize "gcsga.trait.modifier_cost"}}</div>
	<div class="header tags">{{localize "gcsga.trait.tags"}}</div>
	<div class="header reference"><i class="gcs-bookmark"></i></div>
	{{#each document.modifiers}}
	<div class="enabled">{{#if this.enabled}}<i class="gcs-checkmark"></i>{{/if}}</div>
	<div class="desc">{{this.name}}</div>
	<div class="cost">{{this.costDescription}}</div>
	<div class="tags">{{join this.tags ", "}}</div>
	<div class="reference">{{this.reference}}</div>
	{{/each}}
</div>
