<form class="{{cssClass}} gcsga" autocomplete="off">
	<div id="sheet">
		<div id="details">
			<label class="label"></label>
			<div class="field">
				<label class="checkbox-label">
					<input class="input" name="system.disabled" type="checkbox" data-dtype="Boolean" {{checked (not
						system.disabled)}} />
					{{localize "gcsga.trait.enabled"}}
				</label>
			</div>
			{{>input-text field="field" label="gcsga.trait.name" name="name" data=item.name type="String"}}
			{{>textarea field="field" label="gcsga.trait.notes" name="system.notes" data=system.notes type="String"}}
			{{>textarea field="field" label="gcsga.trait.vtt_notes" name="system.vtt_notes" data=system.vtt_notes
			type="String"}}
			{{>textarea field="field" label="gcsga.trait.user_description" name="system.user_description"
			data=system.user_description type="String"}}
			<div class="label">{{localize "gcsga.trait.tags"}}</div>
			{{>input-text field="field" name="system.tags" data=(join system.tags ", ") type="String"}}
			<div class="label">{{localize "gcsga.trait.cr"}}</div>
			<div class="field">
				<select name="system.cr" data-dtype="Number">
					{{#select system.cr}}
					{{#each config.select.cr_level as |v k|}}
					<option value="{{k}}">{{localize (concat "gcsga.select.cr_level." v)}}</option>
					{{/each}}
					{{/select}}
				</select>
			</div>
			<div class="label">{{localize "gcsga.trait.cr_adj"}}</div>
			<div class="field">
				<select name="system.cr_adj" data-dtype="String" {{input_lock (neq system.cr 0 )}}>
					{{#select system.cr_adj}}
					{{#each config.select.cr_adj as |v k|}}
					<option value="{{k}}">{{localize (concat "gcsga.select.cr_adj." v)}}</option>
					{{/each}}
					{{/select}}
				</select>
			</div>
			<div class="label">{{localize "gcsga.trait.container_type"}}</div>
			<div class="field">
				<select name="system.container_type" data-dtype="String">
					{{#select system.container_type}}
					{{#each config.select.container_type as |v k|}}
					<option value="{{k}}">{{localize (concat "gcsga.select.container_type." v)}}</option>
					{{/each}}
					{{/select}}
				</select>
			</div>
			<div class="label">{{localize "gcsga.trait.ancestry"}}</div>
			<div class="field">
				<select name="system.ancestry" data-dtype="String" {{input_lock (eq system.container_type "race" )}}>
					{{#select system.ancestry}}
					{{#each config.select.ancestry as |v k|}}
					<option value="{{k}}">{{localize (concat "gcsga.select.ancestry." v)}}</option>
					{{/each}}
					{{/select}}
				</select>
			</div>
			{{>input-text field="field" label="gcsga.trait.reference" name="system.reference" data=system.reference
			type="String"}}
		</div>
		<div id="trait-modifiers" class="item-list">
			<div class="header enabled"><i class="gcs-checkmark"></i></div>
			<div class="header desc">{{localize "gcsga.trait.modifier_desc"}}</div>
			<div class="header cost">{{localize "gcsga.trait.modifier_cost"}}</div>
			<div class="header tags">{{localize "gcsga.trait.tags"}}</div>
			<div class="header reference"><i class="gcs-bookmark"></i></div>
			{{#each modifiers}}
			{{>trait-mod}}
			{{/each}}
		</div>
	</div>
</form>
