<form class="{{cssClass}} gcsga" autocomplete="off">
    <div id="sheet" class="gcs_trait_container_sheet">
        <div id="details">
			<label class="label"></label>
			<div class="field">
				<label class="checkbox-label">
					<input class="input enabled" type="checkbox" {{checked (not data.disabled)}}/>
					{{localize "gcsga.trait_container.enabled"}}
				</label>
			</div>
			{{>input_text field="field" label="gcsga.trait_container.name" name="name" data=item.name type="String"}}
			{{>input_text field="field" label="gcsga.trait_container.notes" name="data.notes" data=data.notes type="String"}}
			{{>input_text field="field" label="gcsga.trait_container.vtt_notes" name="data.vtt_notes" data=data.vtt_notes type="String"}}
			{{>input_text field="field" label="gcsga.trait_container.user_description" name="data.user_description" data=data.user_description type="String"}}
			<div class="label">{{localize "gcsga.trait_container.tags"}}</div>
			{{>input_text field="field" name="data.tags" data=data.tags type="String"}}
			<div class="label">{{localize "gcsga.trait_container.cr"}}</div>
			<div class="field">
				<select name="data.cr" data-dtype="Number">
					{{#select data.cr}}
						<option value="-1">None Required</option>
					{{/select}}
				</select>
			</div>
			{{>input_text field="field" label="gcsga.trait_container.reference" name="data.reference" data=data.reference type="String"}}
        </div>
    </div>
</form>
