<div id='pool_attributes' style="display: flex; flex-flow: column;">
	{{!-- <div class="header" style="grid-column: 1 / 4">{{localize "gcsga.actor.actor.pool_attributes"}}{{editable}}</div> --}}
	{{#each pool_attributes}}
		<div class="pool_container">
			<div class="header">
				<div class="label">{{this.name}}</div>
				<div class="points">[{{this.points}}]</div>
			</div>
			<div class="field">
				<input name="data.attributes.{{this.index}}.calc.current" type="number" value="{{this.current}}"/>
				/{{this.value}}
			</div>
			<div class="field tooltip">[{{this.state.state}}]
            	{{#if this.state.explanation}}
					<span class="tooltiptext">{{{this.state.explanation}}}</span>
				{{/if}}
        	</div>
		</div>
	{{/each}}
</div>