{{#if label}}
	<div class="label">{{localize label}}</div>
{{/if}}
{{#if field}}
<div class="{{field}}">
{{/if}}
	<input
		name="{{name}}"
		class="input"
		type="text"
		data-dtype="{{type}}"
		value="{{data}}"
		style="min-width: {{length data}}ch"
		{{class}}
	/>
{{#if field}}
</div>
{{/if}}
{{#if after}}
	<div class="label">{{localize after}}</div>
{{/if}}
