<div id="lifting">
	<div class="header">{{localize "gcsga.actor.lifting.title"}}</div>
	<div class="lift">{{lifting.basic_lift}}</div>
	<div class="label">{{localize "gcsga.actor.lifting.basic_lift"}}</div>
	<div class="lift">{{lifting.one_handed_lift}}</div>
	<div class="label">{{localize "gcsga.actor.lifting.one_handed_lift"}}</div>
	<div class="lift">{{lifting.two_handed_lift}}</div>
	<div class="label">{{localize "gcsga.actor.lifting.two_handed_lift"}}</div>
	<div class="lift">{{lifting.shove}}</div>
	<div class="label">{{localize "gcsga.actor.lifting.shove"}}</div>
	<div class="lift">{{lifting.running_shove}}</div>
	<div class="label">{{localize "gcsga.actor.lifting.running_shove"}}</div>
	<div class="lift">{{lifting.carry_on_back}}</div>
	<div class="label">{{localize "gcsga.actor.lifting.carry_on_back"}}</div>
	<div class="lift">{{lifting.shift_slightly}}</div>
	<div class="label">{{localize "gcsga.actor.lifting.shift_slightly"}}</div>
</div>