<div class="entry-parent" readonly></div>
<div class="desc">
	<div class="name">
		{{this.name}}
	</div>
	{{>item-notes}}
</div>
<div class="usage">{{this.usage}}</div>
<div class="level">{{this.level}}</div>
<div class="parry">{{this.fastResolvedParry}}</div>
<div class="block">{{this.fastResolvedBlock}}</div>
<div class="damage">{{this.fastResolvedDamage}}</div>
<div class="reach">{{this.reach}}</div>
<div class="st">{{this.st}}</div>
