<div class="entry-parent" readonly></div>
<div class="desc">
	{{this.name}}
	{{>item-notes}}
</div>
<div class="usage">{{this.usage}}</div>
<div class="level">{{this.level}}</div>
<div class="parry">{{this.parry}}</div>
<div class="block">{{this.block}}</div>
<div class="damage">{{this.damage}}</div>
<div class="reach">{{this.reach}}</div>
<div class="st">{{this.st}}</div>