<div class="entry-parent" readonly></div>
<div class="quantity">{{this.data.quantity}}</div>
<div class="desc item" data-item-id="{{_id}}" {{{indent this}}}>
	<div class="dropdown">
	{{#if (eq this.type "equipment_container")}}
		{{#if this.data.open}}	
			{{>dropdown-open}}
		{{else}}
			{{>dropdown-closed}}
		{{/if}}
	{{/if}}
	</div>
	{{this.name}}
	{{>item-notes}}
</div>
<div class="uses">{{#if (and this.data.uses this.data.max_uses)}}{{this.data.uses}}{{/if}}</div>
<div class="tech-level">{{this.data.tech_level}}</div>
<div class="legality-class">{{this.data.legality_class}}</div>
{{!-- <div class="weight">{{this.data.calc.weight}}</div> --}}
{{!-- <div class="value">{{this.data.calc.value}}</div> --}}
<div class="weight">{{this.data.weight}}</div>
<div class="value">{{this.data.value}}</div>
<div class="extended-weight">{{this.data.calc.extended_weight}}</div>
<div class="extended-value">{{this.data.calc.extended_value}}</div>
<div class="reference">{{this.data.reference}}</div>
{{#if this.data.open}}
	{{#each this.children}}
		{{>other-equipment}}
	{{/each}}
{{/if}}