<div class="entry-parent" readonly></div>
<div class="dropdown"></div>
{{#if (eq this.type "skill_container")}}
	{{#if this.data.open}}	
		{{>dropdown-open}}
	{{else}}
		{{>dropdown-closed}}
	{{/if}}
{{/if}}
<div class="desc item" data-item-id="{{_id}}">
	{{!-- {{this.name_formatted}} --}}
	{{this.name}}
	{{>item-notes}}
</div>
<div class="level">{{this.data.calc.level}}</div>
<div class="rsl">{{this.data.calc.rsl}}</div>
<div class="points">{{this.data.calc.points}}</div>
<div class="reference">{{this.data.reference}}</div>
{{#if this.data.open}}
	{{#each this.children}}
		{{>skill}}
	{{/each}}
{{/if}}